{% extends 'base.html' %}
{% block content %}
<h2>Личный кабинет — {{ request.user.username }}</h2>

{% if messages %}
  {% for message in messages %}
    <div class="alert alert-success">{{ message }}</div>
  {% endfor %}
{% endif %}

{% if request.user.user_profile.profile_image %}
  <img src="{{ request.user.user_profile.profile_image.url }}" width="100">
{% endif %}

<form method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  {{ u_form.as_p }}
  {{ p_form.as_p }}
  <button type="submit">Сохранить</button>
</form>
{% endblock %}